#game-body {
    width: 100vw;
    height: 100vh;

    background-color: black;

    display: flex;
    align-items: center;

    overflow: hidden;
}

#menubar-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 20%;
    aspect-ratio: 1/0.35;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menubar-button {
    width: 25%;
    aspect-ratio: 1/1;
}

.menubar-button img {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    filter: drop-shadow(0px 0px 10px black);
}

#building-game {
    width: 65%;
    height: 100vh;

    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-direction: column-reverse;
}

#building-footer {
    width: 100%;
    height: 20%;
    background-color: white;
    border: 1px solid black;
}

#clicker-header, #clicker-container, #clicker-footer {
    width: 100%;

    background-color: white;
    border: 1px solid black;
}

#clicker-header {
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    z-index: 10;
}

#clicker-container {
    height: 70%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("../MEDIA/muster.webp") repeat;
    background-size: 50% 50%;
}

#clicker-footer {
    height: 10%;
    z-index: 10;
}

#clicker-area {
    margin: 0;
    padding: 0;

    width: 35%;
    height: 100%;
}

#idle-money, #money-text {
    font-weight: bold;
    color: rgb(0, 0, 0);

    margin: 0;
    padding: 0;
}

#clicker-button {
    width: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

#clicker-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: drop-shadow(0px 0px 10px black);
}

#clicker-button:hover {
    transform: scale(1.025);
}

#clicker-button:active {
    transform: scale(0.975);
}

#shop {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0px 0px 10px black;

    background-color: white;
    transition: 200ms;

    z-index: 100;

    white-space: nowrap;
    text-wrap: nowrap;
}

#shop[data-open="false"] {
    width: 0%;
}

#shop[data-open="true"] {
    width: 45%;
}

#shop-button {
    width: 3rem;
    aspect-ratio: 1/1;

    border: 1px solid black;
    border-radius: 50%;

    cursor: pointer;

    position: relative;
    right: -50%;

    transition: 200ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-button::after {
    display: block;
    font-weight: 900;

    padding-left: 20px;
}

#shop[data-open="false"] #shop-button {
    background-color: green;
}

#shop[data-open="true"] #shop-button {
    background-color: red;
}

#shop[data-open="false"] #shop-button::after {
    content: ">";
}

#shop[data-open="true"] #shop-button::after {
    content: "<";
}